//
   Created by charliechen on 14-3-17.

extends layout

block content
  form(method="post")
    p
      label 用户名：
      input(type="text", name="name")
    p
      label 密码：
      input(type="password", name="password")
    p
      label 确认密码：
      input(type="password", name="password-repeat")
    p
      label 邮箱：
      input(type="email", name="email")
    p
      input(type="submit", value="注册")